.navigation-bar {
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 140px;
}

.navigation-bar a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
    padding: 10px;
    border-radius: 5px;
}

.navigation-bar a:hover {
    background-color: rgba(226, 204, 7, 0.678);
}

#logout {
    color: rgb(255, 65, 65);
}

#logout:hover {
    background-color: rgba(209, 36, 36, 0.932);
    color: white;
}

#login {
    color: rgb(0, 255, 0);
}

#login:hover {
    background-color: rgba(0, 206, 0, 0.678);
    color: white;
}